</body>

<footer>
  <!-- copyright -->
  <p class="copyright">© Lucian Augusto 2019</p>

  <!-- Linking JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</footer>

</html>
