<%- include('partials/header')%>

<!-- Login Section -->
<section>
  <form class="" action="/login" method="post">
    <div class="form-group">
      <label for="email">Email Address:</label>
      <input type="email" class="form-control" name="email" value="">
    </div>

    <button type="submit" class="btn btn-lg btn-primary">Log In</button>
    <a class="btn btn-lg btn-success" href="/signup">Sign Up</a>
  </form>

</section>

<%- include('partials/footer') %>
