<%- include('partials/header')%>

<!-- Sign Up Section -->
<section>
  <form class="" action="/signup" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" name="username" value="">
    </div>

    <div class="form-group">
      <label for="email">Email Address:</label>
      <input type="email" class="form-control" name="email" value="">
    </div>

    <button type="submit" class="btn btn-lg btn-primary">Sign Up</button>
    <a class="btn btn-lg btn-outline-secondary" href="/">Return</a>
  </form>

</section>

<%- include('partials/footer') %>
